<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Reset password</title>
</head>
<body style="background-color:#abdafc; margin-left:20px;">
    <div>
        @RenderBody()
    </div>
</body>
</html>
