@{
    ViewData["Title"] = "Password reset confirmation";
    Layout = "~/Views/Shared/_Layout_reset_password.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p>
    Your password has been reset. To enter the application, follow the <a asp-action="Login">link</a>.
</p>
