@model IEnumerable<LinguaPlatform.Models.User>

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "List of users";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h2>User list</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Access rights</a>
            </td>
        </tr>
    }
</table>
