/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {	
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFF;
	margin: 0;
	padding: 0;
	color: #000;
}

.top_fill_square {
	padding:0;
	margin:0;
	height:100px;
	width:auto;
	background-color:#F90;
}

.shd {
   font:Verdana, Geneva, sans-serif;
   font-size:60px;
   color:#b97a56;
   position:absolute;
   left:50%;
   margin-left:-320px; 
   top:1px;
   /*margin-top:-150px; */
   text-shadow: 3px 3px 4px #333;   
	 /*text-shadow: -4px 4px 3px #666, 1px -1px 2px #000;*/
}

.shad {
position: relative;
font-size: 60px;
margin-top: 0;		
text-align:center;
text-shadow:4px 4px 3px #000000;
}

.f1{
    width:200px;
}

.lab {
         border: 1px solid gray;
         padding: 1px;
         font-size:7pt;
}

/*описание стиля лоадера*/
#loadImg{position:absolute; z-index:1000; display:none}

#fm, #fm_student, #fm_teacher, #fm_tie, #fm_lessons, #fm_pay, #fm_order, #fm_lessons_edit, #fm_dt_beg, #fm_summ, #fm_user, #fm_change_psw_user, #fm_branch, #fm_source_about_us, #fm_person_get_zayav, #fm_course, #fm_level_lang, #fm_source_zayav, #fm_prog, #fm_type_group , #fm_sms_gate, #fm_add_period_pay, #fm_event, #fm_visited_event, #fm_pay_without_gr{
margin:0;
padding:10px 30px;
        }
.ftitle{
font-size:14px;
font-weight:bold;
padding:5px 25px;
margin-bottom:10px;
border-bottom:1px solid #ccc;
}
.fitem{
margin-bottom:15px;
}
.fitem label{
display:inline-block;
width:150px;
}
.fitem input{
width:260px;
}

.exp_bank, .imp_bank{
margin-left:50px;
margin-top:100px;
margin-bottom:5px;

}
.exp_bank, .imp_bank label{
font-size:14px;
font-weight:bold;
display:inline-block;
width:500px;
}
.exp_bank, .imp_bank input{
width:260px;
}

.subm {
margin-left:50px;
margin-top:20px;
margin-bottom:5px;
width:200px;
height:30px;

}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 200px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff; 
}
#cssmenu ul ul {
  display: none;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
	padding: 15px 20px;
	border-left: 1px solid #1682ba;
	border-right: 1px solid #1682ba;
	border-top: 1px solid #1682ba;
	cursor: pointer;
	z-index: 2;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #3f48cc;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	/*background: #f0993c;*/
	background: #d7ebf9;
	background: -webkit-linear-gradient(#d7ebf9, #abdafc);
	background: -moz-linear-gradient(#d7ebf9, #abdafc);
	background: -o-linear-gradient(#d7ebf9, #abdafc);
	background: -ms-linear-gradient(#d7ebf9, #abdafc);
	background: linear-gradient(#d7ebf9, #abdafc);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
	#cssmenu > ul > li > a:hover,
	#cssmenu > ul > li.active > a,
	#cssmenu > ul > li.open > a {
		color: #eeeeee;
		background: #ff9933;
		background: -webkit-linear-gradient(#abdafc, #47b1fb );
		background: -moz-linear-gradient(#abdafc, #47b1fb);
		background: -o-linear-gradient(#abdafc, #47b1fb);
		background: -ms-linear-gradient(#abdafc, #47b1fb);
		background: linear-gradient(#abdafc, #47b1fb);
	}
#cssmenu > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #1682ba;
}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {
	border-bottom: 1px solid #1682ba;	
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
  border-color: #eeeeee;
}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
#cssmenu ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #32373e;
  border-left: 1px solid #32373e;
  border-right: 1px solid #32373e;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #eeeeee;
  background: #3d9cde;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
	background: #c7e3f8;
	color: #ffffff;
}
#cssmenu ul ul li:first-child > a {
  box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#cssmenu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
  border-color: #ffffff;
}

.btn_div {    
    position: relative;
    float: right;    
}

.button {
   border: 0px solid #de7518;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   padding: 4.5px 9px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 12px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;   
   }
.button:hover {
   border: 0px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 0px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }
   

